<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="TestNgMavenSuite" parallel="false">
    <listeners>
        <listener class-name="supports.ExcelReport"/>
    </listeners>
    <!--preserve-order -> execute classes by order in "classes" tag-->
    <test name="Regression" preserve-order="true">
        <parameter name="platformVersion" value="4.4.2"/>
        <parameter name="deviceName" value="LC6B4B402499"/>
        <!--<packages>
            <package name="modules"/>
        </packages>-->
        <classes>
            <class name="modules.EditProfile"/>
        </classes>
    </test>
</suite>